<% @videos.each do |video| %>
  <li class="list-group-item" role="option" data-autocomplete-value="<%= video.id %>" data-autocomplete-label="<%= h(video.title) %>">
    <%= h(video.title) %>
  </li>
<% end %>
