<div>
  <h1>Instant Web Video Edit</h1>
</div>

<div>
<p>※現在対応している動画プラットフォームはYouTubeのみです。</p>
<p>クリップの作成にはアカウント登録が必要です。</p>
<p>今後のアップデートで未ログインでもクリップ作成可能になります。</p>
</div>

<%= form_with(model: @video, local: true, html: { class: "videos_new_form" }) do |form| %>
  <div>
    <%= form.label :url, "動画のURL" %><br>
    <%= form.text_field :url, placeholder: "動画URLを入力してください" %>
  </div>

  <div>
    <%= form.submit "動画を編集する" %>
  </div>
<% end %>
