<h1>現在対応している動画プラットフォームはYoutubeのみとなっています</h1>
<h1>クリップの作成には現状アカウント登録が必要です</h1>
<h1>今後のアップデートで未ログイン状態でもクリップの作成ができるよう対応予定です</h1>

<%= form_with(model: @video, local: true) do |form| %>
  <div>
    <%= form.label :url, "動画のURL" %><br>
    <%= form.text_field :url, placeholder: "動画URLを入力してください" %>
  </div>

  <div>
    <%= form.submit "動画を編集する" %>
  </div>
<% end %>
