<footer class="flex-none bg-gray-400">
  <div class="flex items-center justify-center">
    <%= link_to '利用規約', terms_path, class: "btn btn-ghost rounded-none text-white" %>
    <%= link_to 'プライバシーポリシー', privacy_path, class: "btn btn-ghost rounded-none text-white" %>
  </div>
</footer>